.body{
    max-width: 100%;
    max-height: 100%;
    background-color: gray;
}
.background{
    background-color: black;
    border-radius: 40px;
    border: 2px ridge #b8b7b6;
    width: 280px;
    height: 560px;
}
.maxwidth{
    padding-top: 50px;
    margin: auto;
    max-width: 290px;
}
.screen{
    height: 200px;
}
.text-img{
    padding-top:16px ;
    max-width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.img{
    margin: auto;
    width: 50px;
}
.text{
    padding-top: 12px;
    margin: auto;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}
.outputhei{
    padding-top: 90px;
    padding-left: 15px
}
#display{
    background-color: black;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 40px;
    width: 240px;
    height: 60px;
}
.row1{
    display: flex;
    gap: 10px;
}
.row2{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.button{
    padding-left: 15px;
}
.subbutt{
    transition: all 250ms;
}
.subbutt:hover{
    background-color: aliceblue;
    transform: scale(1.05) rotate(-1deg);
  }
    
.lineparent{
    padding-top:24px;
    display: flex;
    justify-content: center;
}
.hrline{
   border: 2px solid white;
   width: 105px;
   border-radius: 2px;

}
.row11{
    background-color: #9d9fa1;
    border-radius: 50px;
    font-size: 22px;
    width: 55px;
    height: 55px;
    border: none;
}
.row111{
    background-color: #f78a0c;
    color: antiquewhite;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    width: 55px;
    height: 55px;
}
.row111:hover{
    transform: scale(1.05) rotate(-1deg);
}
.row21{
    background-color: #292828;
    color: white;
    border-radius: 50px;
    font-size: 25px;
    width: 55px;
    height: 55px;
    border: none;
}
.row21:hover{
    background-color: #9d9fa1;
    transform: scale(1.05) rotate(-1deg);
    color: black;
}
.row211{
    background-color: #292828;
    color: white;
    border-radius: 50px;
    text-align: start;
    padding-left: 20px;
    font-size: 25px;
    width: 120px;
    height: 55px;
    border: none;
}
.row211:hover{
    background-color: #9d9fa1;
    transform: scale(1.05) rotate(-1deg);
    color: black;
}
.division{
    padding-top: 1px;
}
